<div class="min-h-screen  mx-auto bg-[#EEF9FF]">
  <!-- Header -->
  <app-header></app-header>

  <!-- Main content -->
  <main>
    <!-- Hero section -->
    <app-hero-section></app-hero-section>

    <!-- Services section -->
    <app-services-section></app-services-section>

    <!-- Map section -->
    <app-map-section></app-map-section>

    <!-- Achievements section -->
    <app-achievements-section></app-achievements-section>

    <!-- Testimonials section -->
    <app-testimonials-section></app-testimonials-section>

    <!-- Call to action section -->
    <app-cta-section></app-cta-section>
  </main>
  <!-- Footer -->
  <app-footer></app-footer>
</div>
